{
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module"
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": ["warn", { "extensions": [".js"] }],
    "prettier/prettier": "error",
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "arrow-body-style": ["warn"],
    "import/first": ["warn", {"absolute-first" : false}]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
